# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/chunguscoin/chunguscoin

# Vim Files
src/chunguscoin/Session.vim

# Depends, Test, and Build folders
src/chunguscoin/test
build/*
depends/*